<h2>Complete Payment</h2>

<h3>Total Amount: ₹{{ total }}</h3>

<button id="rzp-button">Pay Now</button>

<script src="https://checkout.razorpay.com/v1/checkout.js"></script>

<script>

var options = {
    "key": "{{ razorpay_key }}",
    "amount": "{{ payment.amount }}",
    "currency": "INR",
    "name": "Store_X",
    "description": "Order Payment",
    "order_id": "{{ payment.id }}",

    "handler": function (response){
        alert("Payment Successful!");
        window.location.href = "/success/";
    }
};

var rzp = new Razorpay(options);

document.getElementById('rzp-button').onclick = function(e){
    rzp.open();
    e.preventDefault();
}

</script>