<!DOCTYPE html>
<html>
<head>
<title>Signup - Store_X</title>

<style>

body{
    font-family:Arial;
    background:#f0f2f5;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
}

.container{
    background:white;
    padding:40px;
    width:350px;
    border-radius:8px;
    box-shadow:0 0 10px rgba(0,0,0,0.2);
}

h2{
    text-align:center;
}

button{
    width:100%;
    padding:10px;
    background:#ff9900;
    border:none;
    color:white;
    font-size:16px;
    border-radius:5px;
    cursor:pointer;
}

</style>
</head>

<body>

<div class="container">

<h2>Create Account</h2>

<form method="POST">

{% csrf_token %}

{{ form.as_p }}

<button type="submit">Signup</button>

</form>

</div>

</body>
</html>